[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/srikanthgdt
[access "refs/for/refs/*"]
	read = group user/srikanthgdt
	push = group user/srikanthgdt
	label-Code-Review = -2..+2 group user/srikanthgdt
	label-Verified = -1..+1 group user/srikanthgdt
	rebase = group user/srikanthgdt
	removeReviewer = group user/srikanthgdt
	submit = group user/srikanthgdt
[access "refs/heads/*"]
	read = group user/srikanthgdt
	create = group user/srikanthgdt
	push = +force group user/srikanthgdt
	pushMerge = group user/srikanthgdt
[access "refs/tags/*"]
	push = group user/srikanthgdt
	push = +force group user/srikanthgdt
